@import 'conf';

header {
    background: #111217;
    width: 100%;
    height: 630px;
}

.header {
    max-width: 1180px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 32px;
}

.menu-nav {
    ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    a {
        font: 800 normal 16px 'Montserrat', sans-serif;
        line-height: 17px;
        display: block;
        padding: 10px;
        color: #fff;
    }
    
    a:hover {
        color:#1BF39D;
    }
} 

.banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    

    h1 {
        font: 700 normal 60px 'Montserrat', sans-serif;
        line-height: 73px;
        display: block;
        color: #fff;
        margin: 90px 0 30px;

    }
    span {
        color:#1BF39D;
    }
    p {
        font: 500 normal 18px 'Montserrat', sans-serif;
        line-height: 22px;
        display: block;
        color: #fff;
        margin-bottom: 30px;
    }

    .banner-info {
        flex-direction: row;
        justify-content: space-between;

        .banner-botao img {
            margin-left: 30px;
        }
    }

    .img-banner img {
        width: 600px;
        height: 545px;
    }
}

.algumas {
    h2 {
        font: normal 700 48px 'Montserrat', sans-serif;
        line-height: 60px;
        text-align: center;
        margin-top: 60px;
    }

    .box-algumas {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        
        .box1-algumas {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            max-width: 300px;
            height: 400px;
            margin-top: 20px;
        }

        img {
            height: 183px;
            width: 193px;
        }
   
        h4 {
            font: normal 700 18px 'Montserrat', sans-serif;
            line-height: 22px;
            color: #255254;
            margin: 30px 0 15px;
        }

        p {
            font: normal 400 16px 'Montserrat', sans-serif;
            line-height: 20px;
            color: #255254;
            padding: 20px;
        }
    }
}

.controle {
    margin-top: 60px;
    .box-controle {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .img-controle {
        flex: 1;
    }

    .text-controle {
        flex: 1;
        
        h2 {
            font: normal 700 60px 'Montserrat', sans-serif;
            line-height: 73px;
            margin-left: 55px;
        }
    
        p {
            font: normal 600 20px 'Montserrat', sans-serif;
            line-height: 30px;
            margin: 20px 0 0 55px;
        }
    }
}

.scouts {
    .bg-scouts {
        background: #1BF39D;
        height: 250px;
        margin-top: 60px;
    }
    
    .text-scouts {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    // Falta fazer as barrinhas laterais
    // Falta fazer a sobra em bolta da caixa

    .box-scouts {
        width: 250px;
        height: 280px;
        
        .container-scouts {
            margin-top: 80px; // Perguntar para o Eric como alinhar aqui
        }
        
        h3 {
            font: normal 700 60px 'Montserrat', sans-serif;
            line-height: 73px;
            text-align: center;
        }

        p {
            font: normal 700 20px 'Montserrat', sans-serif;
            line-height: 24px;
            text-align: center;
        }
    }
}

.conquiste {
    margin-top: 60px;
    
    .box-conquiste {
        // border: 3px solid #111217;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .text-conquiste {
            // border: 3px solid #43F59E;
            flex: 1;

            h2 {
                font: normal 700 60px 'Montserrat', sans-serif;
                line-height: 73px;
                margin: 30px 30px 0 0;
            }

            p {  
                font: normal 600 20px 'Montserrat', sans-serif;
                line-height: 30px;
                margin: 20px 30px 0 0;
            }
        }

        .img-conquiste {
        // border: 3px solid #255254;
        flex: 1;
        }
    }
}

.entenda {
    .bg-entenda {
        background: #111217;
        width: 100%;
        height: 600px;
        margin-top: 60px;
        
        .text-entenda {
            h2 {
                font: normal 700 48px 'Montserrat', sans-serif;
                line-height: 60px;
                color: #fff;
                text-align: center;
                padding-top: 30px;
            }
    
            p {
                font: normal 400 22px 'Montserrat', sans-serif;
                line-height: 27px;
                color: #fff;
                text-align: center;
                max-width: 890px;
                margin: 0 auto;
                margin-top: 40px;
            }
        }
        
        .container-entenda {
            display: flex;
            flex-wrap: wrap;
            margin: 40px auto;
            max-width: 960px;
    
            .box-entenda {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                height: 220px;
                border: 3px solid #1BF39D;
                flex: 1;
    
                +.box-entenda {
                    margin-left: 50px;
                }
                
                p {
                    font: normal 700 22px 'Montserrat', sans-serif;
                    line-height: 27px;
                    text-align: center;
                    color: #fff;
                    padding: 0 10px 0;
                }
            }
        }
    }
}

footer {
    .bg-footer {
        background: #1BF39D;
        width: 100%;
        height: 600px;

        .box-footer {
           display: flex;
           flex-wrap: wrap;
           flex-direction: column;
           align-items: center;

           .logo-footer {
               padding-top: 60px;
           }

           h2 {
               font: normal 700 48px 'Montserrat', sans-serif;
               line-height: 60px;
               color: #255254;
           }

           p {
                font: normal 700 18px 'Montserrat', sans-serif;
                line-height: 22px;
                color: #255254;
                margin: 30px 0 30px;
           }

           .apple {
               margin-left: 30px;
           }
        }

        .rodape {
            border-top: 2px solid #255254;
            width: 900px;
            margin-top: 60px;

            p {
                font: normal 400 18px 'Montserrat', sans-serif;
                line-height: 22px;
                text-align: center;
                margin-top: 20px;
            }
        }
    }

}